<h1><%= title %></h1>
<ul>
    <% if (author_list.length > 0) { %>
        <% for (const author of author_list) { %>
            <li>
                <a href=<%= author.url %>>
                    <%= author.name%> | (<%= author.lifespan %>)
                </a>
            </li>
        <% } %>
    <% } else { %>
        <li>There are no authors.</li>
    <% } %>
</ul>